* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* home_slider_section */

#home_slider_section {
}

.item_card {
  background: #1babea;
  padding: 30px 10px;
  width: 70%;
  margin: auto;

  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.55), 0 6px 20px 0 rgba(196, 188, 188, 0.19);
  background: rgb(27, 171, 234);
  background: linear-gradient(0deg, rgb(8, 15, 23) 0%, rgb(73, 137, 179) 100%);
}

.item_card i {
  font-size: 80px;
  color: #f3fafa;
  margin-bottom: 20px;
}
.item_card h4 {
  font-size: 30px;
  color: #f3fafa;
}

/* ======hospital.html start====== */
#card_main {
}

.contact_design {
  width: 100%;
  margin: 10px 0;
  /* text-align: center; */
}

.card_body {
  width: 100%;
  background: #f7f7f7;
  display: inline-flex;
  color: #0a3a4f;
  box-shadow: 1px 1px 5px 2px #c1d3e6;
  height: 100%;
}

.card_body a {
  letter-spacing: 2px;
}
.contact_num {
  padding: 12px;
  width: 100%;
}
.contact_num h6 {
  font-family: Hind Siliguri;
  font-size: 16px;
  color: #0a3a4f;
  font-weight: bold;
  margin-bottom: 0;
}

.call_icon {
  text-align: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.call_icon a {
  position: relative;
}

.call_icon i {
  font-size: 35px;
  padding: 12px;
  color: #139ba5;
  transition: 0.5s;
  position: absolute;
  right: 0;
  top: -28px;
}
.call_icon i:hover {
  color: #fe0000;
  transition: 0.5s;
}

/* ===========all responsive start=========== */

@media screen and (max-width: 576px) and (min-width: 300px) {
  .item_card {
    width: 100%;
    padding: 15px 10px;
  }
  .item_card i {
    font-size: 40px;
    color: #f3fafa;
    margin-bottom: 0;
  }
  .item_card h4 {
    font-size: 17px;
    margin-top: 10px;
  }
}
